*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(nature\ -\ Copy.png);
    background-size:cover;
}

.container{
    text-align: center;
    margin-top:10%;
    width:auto;
    color:rgb(24, 24, 24);
}
table{
    margin:auto;
}
input{
    width:280px;
    font-size:30px;
    border:5px solid rgb(13, 13, 13);
    border-radius:23px;
}
button{
    font-size: 30px;
    background: rgb(153, 154, 153);
    height: 50px;
    width: 70px;
    border-radius:20px;
}
.calculator{
    background-color:rgb(215, 91, 13);
    display:inline-block;
    padding: 23px;

    border-radius:53px;
    border:2px solid rgb(1, 40, 9);
    
    
}